<header class='top-page-header'>
      <ul class = 'session'>
      <% if user_signed_in? %>
       <li>
       <%= "こんにちは、" %>
       <%= link_to current_user.name, "#", class: "user-name" %>
       <%= "さん" %>
        </li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %> </li>
        <ul class = 'header-right'>
          <li><%= link_to '新規グループを作成する', new_room_path, class: "new-group"%>
          <li><%= link_to 'メッセージ一覧を見る', messages_path, class: "new-group"%>
       
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
  </div>
</header>